@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

html, body{
	min-width: 320px;
	height: 100%;
	overflow-x:hidden; 
	font-size: 18px;
	background: $main_color;
	font-family: 'Montserrat';
	color: $main_color;

	.wrapper{
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	.container{
		max-width: 1600px;
		padding: 0px 30px;
		margin: 0 auto;
	}

	.main{
		flex: 1 1 auto;
	}
}

.Input{
	background: white;
	border-radius: 15px;
	border: solid 3px $main_color;
	font-weight: 500;
	@include adaptiv-value("font-size", 21, 11, 0);

	@include adaptiv-value("padding-top", 10, 5, 0);
	@include adaptiv-value("padding-bottom", 10, 5, 0);
	@include adaptiv-value("padding-left", 20, 10, 0);
	@include adaptiv-value("padding-right", 20, 10, 0);
	line-height: 10px;
	color: #000000;
	opacity: 0.6;
}

.Button{
	font-weight: 700;
	@include adaptiv-value("font-size", 25, 12, 0);
	@include adaptiv-value("line-height", 30, 18, 0);
	background: $main_color;
	color: #FFFFFF;
	border-radius: 20px;
	@include adaptiv-value("padding-top", 10, 5, 0);
	@include adaptiv-value("padding-bottom", 10, 5, 0);
	@include adaptiv-value("padding-left", 20, 15, 0);
	@include adaptiv-value("padding-right", 20, 15, 0);
	margin-right: 12px;
	transition: 0.4s;

	&:hover{
		background: #5C4F38;
	}
}

.main__title{
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 61px;
	margin: 25px 0;
	color: #FFFFFF;
}
